# Dependencies
node_modules/
.expo/
.expo-shared/

# OSX
.DS_Store

# Android
android/app/build/
android/.gradle/
*.apk

# iOS
ios/Pods/
ios/build/
*.ipa

# Testing
coverage/

# Misc
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
