name: Sync Wiki

on:
  push:
    branches:
      - dev
    paths:
      - 'docs/**'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Sync Wiki
        uses: spenserblack/actions-wiki-sync@v2
        with:
          wiki_folder: docs
          wiki_commit_message: 'docs: sync from dev'
